In [13]:
import pandas as pd
apple=pd.Series([3,2,0,1],index=['one','two','three','four'])
orange=pd.Series([3,4,7,8],index=['one','two','three','four'])
lis=[3,4,5,6]
data={'apples': apple , 'oranges':orange}
print(data)
print('\n')
fruits=pd.DataFrame(data)
print(fruits)

{'apples': 0    3
1    2
2    0
3    1
dtype: int64, 'oranges': 0    3
1    4
2    7
3    8
dtype: int64}


   apples  oranges
0       3        3
1       2        4
2       0        7
3       1        8

In [15]:
import numpy as np
import pandas as pd
rng=np.arange(len(fruits))
print(rng)
fruits['oranges']=rng
fruits

[0 1 2 3]

   apples  oranges
0       3        0
1       2        1
2       0        2
3       1        3